- #Jquery
%script{src: '//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}

- #moot
- if page == 'discuss'
  %script{src: '//cdn.moot.it/1/moot.min.js'}

- #custom js
= include_javascripts :common

/[if lt IE 9]
  <script src="/js/vendor/ie/html5shiv.js"></script>
  <script src="/js/vendor/ie/respond.min.js"></script>
