/ JQuery
%script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}

/ Bootstrap
%script{src: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'}



:javascript
  $(document).ready(function() {
    var footerHeight = $('#footer').height()
    $('#content').css('padding-bottom', footerHeight + 'px')
    $('#footer').css('margin-top', -footerHeight + 'px')
  })
