#footer
  %ul#ftrNav.navList
    %li
      %a.ftrlink.navLink{href: '/about'} About SSI
    %li
      %a.ftrlink.navLink{href: '/contact'} Contact
    %li
      %a.ftrlink.navLink{href: '/about_site'} About this site
    %li &copy; Stanford Student Space Initiative, 2013
