%iframe{id: 'gcalEmbed', frameborder: "0", height: "600", scrolling: "no", src: "https://www.google.com/calendar/embed?src=5or10qu0uhtfqcdqb3knrpn3r8%40group.calendar.google.com&ctz=America/Los_Angeles", style: "border: 0", width: "800"}
