%head#head
  - # google analytics
  = haml 'partials/google-analytics'.to_sym

  %title Stanford Student Space Initiative
  %meta{charset: 'utf-8'}/

  %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700',
  rel: 'stylesheet',
  type: 'text/css'}/
  - # CSS
  = css :app

  - # Sticky footer IE fix
  = haml'partials/ie-footer-fix'.to_sym

  - # Moot
  = haml 'partials/moot'.to_sym
