#hdr
  #hdrBgShadow
    #hdrIntro
      %h2 Space exploration is the future of human civilization.
      %h3 We are dedicated to making space exploration a reality through education, political advocacy, and empowering Stanford students to participate.
    = haml :'partials/headerNav', locals: { hdrClass: 'index' }
