%div{ id: hdrClass == 'index' ? 'hdrNavContainerIndex' : 'hdrNavContainer' }
  %div{ id: hdrClass == 'index' ? 'hdrNavShadowIndex' : 'hdrNavShadow' }
    %ul#hdrNav.navList
      %li
        %a.hdrLink.navLink{href: '/learn'} Learn
      %li
        %a.hdrLink.navLink{href: '/discuss'} Discuss
      %li
        %a.hdrLink.navLink{href: '/events'} Events
      %li
        %a.hdrLink.navLink{href: '/act'} Act
