%head
  %title Stanford Student Space Initiative
  %meta{charset: "utf-8"}/

  / JS
  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}

  / CSS
  %link{rel: 'stylesheet', type: 'text/css', href: 'css/app.css'}

  / Sticky footer IE fix
  <!--[if !IE 7]>
  <style type="text/css">
  #wrap { display:table; height:100%; }
  </style>
  <![endif]-->

  / Moot
  %link{href: "https://cdn.moot.it/1/moot.css", rel: "stylesheet"}/
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
