%head#head
  - # google analytics
  = haml 'partials/google-analytics'.to_sym

  %title Stanford Student Space Initiative
  %meta{charset: 'utf-8'}/

  - # CSS
  = css :app

  - # Sticky footer IE fix
  = haml'partials/ie-footer-fix'.to_sym

  - # Moot
  = haml 'partials/moot'.to_sym
