#hdr
  #hdrBgShadow
    #hdrIntro
      %h2 Space exploration is the future of human civilization.
      %h3 We are dedicated to making space exploration a reality through education, political advocacy, and empowering Stanford students to participate.
    #hdrNavContainer
      %ul#hdrNav.navList
        %li
          %a.hdrLink.navLink{href: '/learn'} Learn
        %li
          %a.hdrLink.navLink{href: '/discuss'} Discuss
        %li
          %a.hdrLink.navLink{href: '/events'} Events
        %li
          %a.hdrLink.navLink{href: '/act'} Act
