- # application js
= js :app

- # moot
- if page == 'discuss'
  %script{src: '//cdn.moot.it/1/moot.min.js'}

/[if lt IE 9]
  <script src="/js/vendor/ie/html5shiv.js"></script>
  <script src="/js/vendor/ie/respond.min.js"></script>
