#titlebar
  %a{href: '/'}
    = img '/images/SSI-textlogo.svg', id: 'logo', alt: 'Stanford Student Space Initiative'
  %a{href: 'http://www.stanford.edu'}
    = img '/images/stanford-logo.svg', id: 'stanfordSeal', alt: 'Stanford University'
