#titlebar
  %a{href: '/'}
    %img#logo{src: '/img/SSI-textlogo.svg', alt: 'Stanford Student Space Initiative'}
  %a{href: 'http://www.stanford.edu'}
    %img#stanfordSeal{src: '/img/stanford-logo.svg', alt: 'Stanford University'}
