*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# SASS compiled stuff
.sass-cache/

# log files
log/

# public assets [configured by sinatra-assetpack]
public/

# dev database
spaceinitiative.db

# mac artifacts
.DS_STORE
