%h1#title Stanford Spaceflight Initiative
#hdr
  %h2 Space exploration is the future of human civilization.
  %h3 We are dedicated to making space exploration a reality through education, political advocacy, and empowering Stanford students to participate.
  %ul#nav.navlist
    %li
      %a.hdrlink{href: '/learn'} Learn
    %li
      %a.hdrlink{href: '/discuss'} Discuss
    %li
      %a.hdrlink{href: '/act'} Act
  %a{href: '/about'} About SSI
%h2 News
%h2 Events
