!!!
%html
  %head
    %title Stanford Student Space Initiative
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/app.css'}
  %body
    #titlebar
      %a{href: '/'}
        %img#title{src: '/img/SSI-textlogo.svg', alt: 'Stanford Student Space Initiative'}
      %a{href: 'http://www.stanford.edu'}
        %img#stanfordSeal{src: '/img/stanford-logo.svg', alt: 'Stanford University'}
    #content= yield
    #footer
      %ul#ftrNav.navList
        %li
          %a.ftrlink.navLink{href: '/about'} About SSI
        %li
          %a.ftrlink.navLink{href: '/contact'} Contact
        %li
          %a.ftrlink.navLink{href: '/about_site'} About this site
        %li &copy; Stanford Student Space Initiative, 2013
