@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

@import 'lib/constants';

* {
  margin: 0;
  padding: 0
}

// layout
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial';
  font-size: 1.25em;
  line-height: 1.5em;
}

#site {
  min-height: 100%;
}

#content {
  overflow: auto;
}

.contentPane {
  position: relative;
  padding: 2em 3em;
}

// sticky footer Opera fixes (lol CSS)
body:before {
  content: '';
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/* negate effect of float*/
}

// styling

#pageHeading {
  padding-top: 0;
  margin-top: 0;
}

a:hover {
  color: $linkHoverColor;
}

// misc
#githubBanner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}


// components
// TODO: make assetpack work so these don't have to be manually included

@import 'lib/textstyle';
@import 'lib/titlebar';
@import 'lib/header';
@import 'lib/footer';
@import 'lib/nav';
@import 'lib/ajaxLoader';
@import 'lib/news';
@import 'lib/events';
