@import "compass/typography/lists";
@import "compass/css3/opacity";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

// vars
$linkHoverColor: #2E96FF;
$cardinalRed: #8C1515;

// defaults

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', 'Helvetica', 'Arial';
  font-size: 1.25em;
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

// titlebar

#titlebar {
  background: $cardinalRed;
  color: white;
  padding: 1em 0 1em 1.5em;
}

#title {
  display: block;
  height: 1.5em;
}

// header

#hdr {
  $banner: '/img/banner/spacex-banner-1920.jpg';

  background-image: url($banner);
  background-size: cover;
  background-position: bottom;
  color: white;
}

#hdrBgShadow {
  background-color: rgba(0, 0, 0, 0.6);
}

#hdrContent {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;

  padding: 3em;

  h2 {
    font-size: 2em;
    line-height: 1.25em;
    padding-top: 0;
    margin-top: 0;
  }

  hr {
    width: 50%;
    margin: 1.5em auto 0 auto;
    border-color: #aaa;
  }
}

.hdrLink {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#aboutHdrLink {
  font-size: 1.25em;
}

// footer

#footer {
  background: $cardinalRed;
  color: white;
  font-size: .8em;
}

.ftrlink {
  text-decoration: none;
  color: white;
}

// nav

.navList {
  @include horizontal-list;
  padding: 0 3em;
  text-align: center;

  li {
    padding: 0 1.5em;
    @include float(center);
  }
}

#hdrNav {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#ftrNav {
  padding-top: .5em;
  padding-bottom: .5em;
}

a:hover {
  color: $linkHoverColor;
}
