@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

@import 'constants';

// global theme
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', 'Helvetica', 'Arial';
  font-size: 1.25em;
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a:hover {
  color: $linkHoverColor;
}


#contentPane {
  padding: 1.5em;
}

// components

@import 'titlebar';
@import 'header';
@import 'footer';
@import 'nav';
