#hdr
  #hdrBgShadow
    #hdrIntro.contentPane
      %h2 Space exploration is the future of human civilization.
      %h3 We are dedicated to advancing the next age of space exploration through education, flight projects, and empowering Stanford students to participate.
    = render partial: 'shared/nav', locals: {index: true}
