.contentPane
  %h1.sectionHeading Events
  #eventsPagePane.pane
    #events
    #eventsAll
      %a#eventsAllLink{href: 'https://www.google.com/calendar/embed?src=5or10qu0uhtfqcdqb3knrpn3r8%40group.calendar.google.com'} All events...
