.contentPane
  %a#githubBanner{href: "https://github.com/osdiab/spaceinitiative"}
    = img '/images/github_fork.png', alt: 'Fork me on GitHub'
  %h1.sectionHeading About this site
  .pane
    :markdown
      This site was written by Omar Diab as an open-source project. That means,
      if you'd like to contribute to it and make it awesome, just go to the
      [Github project](https://github.com/osdiab/spaceinitiative), fork
      it or get in touch with me about getting privileges.

    :markdown
      ## Stack

      This is a Ruby Sinatra site currently hosted on Heroku. There's a lot of
      improvements to make, and the site is pretty basic, so feel free to spruce
      it up as you please. My priorities were to write it quickly, have it look
      nice and not need a lot of active maintenance (hence the heavy use of
      external services).

      Cheers!

      -Omar
