// TODO: add real content
.contentPane
  %h1#pageHeading About Stanford Student Space Initiative
  :markdown
    The Stanford Student Space Initiative (SSI) is an official student group at
    Stanford University dedicated to making space exploration a reality.

    ## Why SSI?

    You may have noticed that the acronym really should be SSSI. The group used
    to be called the Stanford Spaceflight Initiative, and most people in the
    group still call it SSI at this point in time. So, that's why :)
