.contentPane
  %h1#pageHeading About Stanford Student Space Initiative
  :markdown
    The Stanford Student Space Initiative is the center of student activities
    involving space exploration and space entrepreneurship at Stanford. We
    believe our future in space is in the process of being reinvented by new,
    private companies and will be more democratized, open, and unbounded than
    ever.

    We help the Stanford community gain the knowledge, experience,
    network, and resources needed to be part of that future and turn their own
    ideas into reality.
