.contentPane
  %h1.sectionHeading About Stanford Student Space Initiative
  .pane
    :markdown
      # Who we are

      SSI is the center of student activities involving space exploration and
      space entrepreneurship at Stanford. We believe our future in space is
      being reinvented by private companies and will be more democratized,
      open, and unbounded than ever.

      We want the Stanford community to gain the knowledge, experience,
      network, and resources to guide that future. [Join us](/act) in shaping
      space exploration and turning our dreams into reality!

      [More details on our mission](/mission)
