.contentPane
  %h1#pageHeading How to get involved
  :markdown
    ## Join the discussion!

    Head over to the [discussion page](/discuss) and have your voice heard.

    ## Email Us!

    If you are at all interested in space, we would love to have you onboard,
    whatever your background. We are a forum for those of all disciplines, from
    chemistry, biology, engineering, computer science, and even public policy
    and international relations. Don't hesitate to let us know of your interest
    by emailing [David Gerson](mailto:dtgerson@stanford.edu).

    ## Active Students

    Come to our events or meetings. If you can't make any of the times, email
    us and we'll respond as quickly as we can.

    # Mailing lists

    * [General
    conversation](https://mailman.stanford.edu/mailman/listinfo/spaceflight)
    * [SSI
    Newsletter](https://mailman.stanford.edu/mailman/listinfo/ssi_newsletter)
