= haml :'partials/header'
- sections = [['News', 'newsPane'], ['Events', 'eventsPane']]
= haml :'partials/pageNav', locals: {sections: sections}
.contentPane
  #newsPane
    %h1.sectionHeading News
    #news.pane
  #eventsPane
    %h1.sectionHeading Upcoming events
    #events.pane
