#footer
  %ul#ftrNav.navList
    %li.ftrElem
      %a.ftrlink.navLink{href: '/contact'} Contact
    %li.ftrElem
      %a.ftrlink.navLink{href: '/about_site'} About this site
    %li.ftrElem &copy; SSI, 2013
