- # application js
= javascript_include_tag :application

- # moot
- if current_page?(controller: 'pages', action: 'discuss')
  %script{src: '//cdn.moot.it/1/moot.min.js'}

/[if lt IE 9]
  <script src="/js/vendor/ie/html5shiv.js"></script>
  <script src="/js/vendor/ie/respond.min.js"></script>
