#titlebar
  %a{href: '/'}
    = image_tag 'SSI-textlogo.svg', id: 'logo', alt: 'Stanford Student Space Initiative'
  %a{href: 'http://www.stanford.edu'}
    = image_tag 'stanford-logo.svg', id: 'stanfordSeal', alt: 'Stanford University'
